<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	

    <div class="side-nav">
      <nav>
        <ul>
            <li>
                <a routerLink="/dashboard">
                <span><i class="fa fa-user"></i></span>
                    <span>Profile</span>
                </a>
            </li>
          <li>
            <a routerLink="/college">
              <span><i class="fa fa-user"></i></span>
              <span>College</span>
            </a>
          </li>

          <li>
            <a routerLink="/department">
                <span><i class="fa fa-envelope"></i></span>
                <span>Department</span>
            </a>
          </li>

          <li>
              <a routerLink="/library">
                  <span><i class="fa fa-envelope"></i></span>
                  <span>Library</span>
              </a>
          </li>

          <li>
              <a routerLink="/admission">
                  <span><i class="fa fa-envelope"></i></span>
                  <span>Admission</span>
              </a>
          </li>

          <li>
              <a routerLink="/event">
                  <span><i class="fa fa-envelope"></i></span>
                  <span>Event</span>
              </a>
          </li>
                
        </ul>
      </nav>
    </div>
	</body>
</html>